{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'resume/style.css' %}">
    <link rel="stylesheet" href="{% static 'resume/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <h2 class="btn-primary">{{resume_detial.full_name}}</h2>
    <a href="{% url 'resume:index' %}"><button type="" class="btn btn-primary ">Resume list</button></a>

<hr>
    <h3>Contacts</h3>
    <ul>
        Email: {{resume_detial.email}} <br>
        Phone:  {{resume_detial.phone}} <br>
        Address: {{resume_detial.address}} <br>
    </ul>
<hr>
    <h3>Education</h3>
    <ul>
        School: {{resume_detial.school}} <br>
        Degree: {{resume_detial.degree}} <br>
    </ul>
<hr>
    <h3>Skills and Accomplishments</h3>
    <ul>
        Skills:
        {% for skill in resume_detial.skill_split %} 
            <ul>
            <li>{{skill}} </li>
            </ul>
        {% endfor %}
        <br>
        Accomplishments:
        {% for accomp in resume_detial.accomplishment_split %} 
            <ul>
            <li>{{accomp}} </li>
            </ul>
        {% endfor %}
    </ul>
<hr>
</body>
</html>
